@charset "uft-8";
@import url('common.css');


.scr-con{
    opacity: 0;
    transition:1.5s;
    transform:translateY(50px);
}
.scr-con.active{
    opacity: 1;
    transform:translateY(0px);
}

/* header banner //////////////////*/
.hd_img{
    margin:0 auto;
    width:100%;
    position: relative;
    background-color: black;
}
.hd_img .hd_frame{
    margin:0 auto;
    width:100%;
    height: 26vw;
    margin:0 auto;
    overflow: hidden;
}
.hd_img .hd_frame figure{
    margin:0 auto;
    width:100%;
    display: flex;
    justify-content: flex-start;
    /* animation: hd_frame 25s infinite; */
}
/* @keyframes hd_frame{
    0%{transform: translateX(0%);}
    25%{transform: translateX(-100%);}
    50%{transform: translateX(-200%);}
    75%{transform: translateX(-300%);}
    100%{transform: translateX(-400%);}
} */
.hd_img .hd_frame figure a img{
    width:100%;
    object-position: bottom;
    background-color:#777;
    opacity: 0.7;
}
.hd_title{
    position: absolute;
    left:15%;
    top:15%;
    background-color:rgba(0,0,0);
    color:white;
    padding:20px 100px 20px 20px;
    font-size: 36px;
    font-weight: 900;
    overflow: hidden;
}
.hd_title::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:white;
    mix-blend-mode: difference;
    transform:translateY(-100%);
    transition:transform 0.5s;
}
.hd_img:hover .hd_title::after{
    transform:translateY(0%);
}

.nxt_btn{
    width:100%;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
}
.nxt_btn > .next{
    padding:0 5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.next a{
    opacity: 0.5;
    transition: opacity 0.5s;
}
.next a:hover{
    opacity: 1;
}
.nav_list{
    position:absolute;
    bottom:25px;
    left:50%;
    transform: translate(-50%, 0);
}
.nav_list span{
    margin:5px;
}
.nav_list span:nth-child(1) a{
    display: inline-block;
    width:10px;
    height: 10px;
    background-color:#fdd000;
    border-radius: 50px;
    opacity: 0.8;
    border:1px solid white;
}
.nav_list > span:nth-child(2) a{
    display: inline-block;
    width:10px;
    height: 10px;
    background-color:#777;
    border-radius: 50px;
    opacity: 0.8;
    border:1px solid white;
}
.nav_list > span:nth-child(3) a{
    display: inline-block;
    width:10px;
    height: 10px;
    background-color:#777;
    border-radius: 50px;
    opacity: 0.8;
    border:1px solid white;
}
.hd_more{
    position: absolute;
    right:10%;
    bottom:25px;
}
.hd_more a{
    color:white;
    font-size:16px;
    width:160px;
    height:45px;
    background-color:rgba(0,0,0,0.7);
    border-radius: 50px;
    border:1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hd_more a:hover{
    background-color: rgba(255,255,255,0.7);
}
.hd_more:hover a{
    color:black;
    font-size:16px;
}


header .hdmain a:hover{
    color:#fdd000;
    transition: 0.5s;
}



/* container ////////////////////////*/
.container{
    width:100%;
    padding:0;
}
.title{
    color:white;
    background-color: rgba(0,0,0,0);
    display:inline-block;
    width:fit-content;
    height:40px;
    padding:0;
    text-align: center;
    font-size:36px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.con_hd{
    width:100%;
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin:100px 0 30px;
}
.con_hd:nth-of-type(1){
    margin:80px 0 30px;
}
.con_hd > a{
    font-size:18px;
    color:#a89968;
}
.con_hd > a:hover{
    color:#3b361c
}
.con_hd .title > a{
    text-decoration: none;
    color:#a89968;
    font-style: italic;
    font-weight: 900;
}
header .hdmain > a:visited{
    text-decoration: none;
    color:#a89968;
}


/* gallery ////////////////////////*/
.gal{
    padding:0 10%;
    width:80%;
}
.gal .con_thm ul{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.gal .con_thm ul li{
    width:23%;
    height: 40vh;
    margin-right: 30px;
    transition: 0.5s;
}
.gal .con_thm ul li figure .img_hv{
    transition: 0.5s;
}
.gal .con_thm ul li figure .img_hv_ic{
    transition: 0.5s;
}
.gal .con_thm ul li:hover figure img{
    width:300%;
}
.gal .con_thm ul li:hover figure > .img_hv{
    position:absolute;
    left:0; top:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.gal .con_thm ul li figure > .img_hv_ic span{
    position:absolute;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
}
.gal .con_thm ul li:hover figure > .img_hv_ic span{
    animation:plusic 1s forwards;
}
@keyframes plusic{
    0%{
        
    }
    100%{
        transform:rotate(180deg) translate(50%, 50%);}
}
.gal .con_thm ul li:hover figure > .img_hv_ic span:nth-child(1){
    width:80px;
    height:2px;
    background-color: #fdd000;
}
.gal .con_thm ul li:hover figure > .img_hv_ic span:nth-child(2){
    width:2px;
    height:80px;
    background-color: #fdd000;
}
.gal .con_thm ul li:hover .galtt{
    color:#fdd000;
}
.gal .con_thm ul li:hover .galtxt{
    color:#ddd;
}
.gal .con_thm ul li:last-child{
    margin:0;
}
.gal .con_thm ul li figure{
    position: relative;
    height:70%;
    overflow: hidden;
    position: relative;
    z-index: -5;
    border:1px solid #a89968;
}
.gal .con_thm ul li figure img{
    position: absolute;
    width:200%;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    bottom:0%;
    transition: 0.5s;
}
.figcaption{
    padding:0px;
    height: 30%;
}
.galtt{
    padding:20px 20px 0 20px;
    font-size:20px;
    color:#000;
    margin-bottom:10px;
    transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.figcaption .galtxt{
    padding:10px 20px 20px 20px;
    display: block;
    height: 40%;
    font-size: 16px;
    color:#777;
    transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* class ////////////////////////*/
.cl{
    padding:0 10%;
}
.cl_ul{
    border:1px solid #a89968;
    display:flex;
    width:100%;
    position: relative;
    overflow: hidden;
}
.cl_ul li{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cl_img{
    object-fit: cover;
    width:100%;
    z-index: -3;
    overflow: hidden;
}
.cl_ul .cl_info div h2{
    font-size:30px;
    color:#000;
}
.cl_info > div{
    width:80%;
    margin:50px auto;
    z-index: -3;
}
.cl_info_tt{
    font-size:18px;
    color:#777;
    margin-bottom:30px;
}
.cl_info_txt{
    font-size:20px;
    color:#000;
}
.cl_all a:hover .cl_rm{
    display:flex;
}
.cl_all:hover{
    background-color: rgba(255,255,255,0.5);
}
.cl_all{
    position: relative;
    transition: 0.5s;
}
.cl_rm{
    display:none;
    width:100%;
    height:100%;
}

.cl_rm span{
    position:absolute;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0,0,0,0.8);
    border-radius: 100px;
    border:1px solid #fdd000;
    width:150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:30px;
    color:#fdd000;
    font-weight: bold;
    margin:0 auto;
    animation:cl 1s infinite;
}
@keyframes cl{
    0%{}
    60%{transform:translateY(-60%) translateX(-50%);}
    100%{}
}
.cl .cl_num{
    margin:30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cl .cl_num span{
    margin: 0 5px;
}
.cl .cl_num span a{
    vertical-align: middle;
}
.cl .cl_num span:nth-of-type(1) a{
    display: inline-block;
    width:10px; height: 10px;
    border-radius: 100%;
    background-color: #000;
}
.cl .cl_num span:nth-of-type(2) a{
    display: inline-block;
    width:8px; height: 8px;
    border-radius: 100%;
    background-color: #ffffff;
    border:3px solid #a89968;
}
.cl .cl_num span:nth-of-type(3) a{
    display: inline-block;
    width:10px; height: 10px;
    border-radius: 100%;
    background-color: #000;
}

/* exhibition //////////////////////////// */
.exh{
    padding:0 10%;
}
.exh_thm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exh_thm img{
    width:100%;
}

.exh_thm .thm_1{
    position: relative;
    /* width:510px;
    height:330px; */
    overflow: hidden;
    border:1px solid #a89968;
    border-radius: 10px;
    /* margin-right:20px; */
}   
.exh_thm .thm_1 > span{
    position: absolute;
    right:5%;
    top:50%;
    transform:translate(0, -50%);
    width:50px;
    height: 50px;
}
.thm_1 span a{
    opacity: 0.5;
    transition:0.5s;
}
.thm_1 span a:hover{
    opacity: 1;
}
.thm_3 span a{
    opacity: 0.5;
    transition:0.5s;
}
.thm_3 span a:hover{
    opacity: 1;
}

.exh_thm .thm_2{
    position: relative;
    overflow: hidden;
    border:1px solid #000;
    border-radius: 10px;
}
.exh_thm article:hover h2{
    color:#fdd000;
    letter-spacing: 3px;
    transition: 0.3s;
}
.exh_thm img:hover{
    opacity: 0.6;
    transition: 0.5s;
}
.exh_thm article{
    position: absolute;
    left:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    padding:30px;
    width:100%;
}
.exh_thm article h2{
    color:white;
    font-size:20px;
    line-height: 40px;
    margin-bottom:10px;
    /* transition: 0.3s; */
}
.exh_thm article span{
    color:white;
    font-size: 16px;
}
.exh_thm .thm_3{
    position: relative;
    overflow: hidden;
    border:1px solid #a89968;
    border-radius: 10px;
}
.exh_thm .thm_3 > span{
    position: absolute;
    left:5%;
    top:50%;
    transform:translate(0, -50%);
    width:50px;
    height: 50px;
}



/* library /////////////////// */
.lbr{
    width:100%;
    padding:0;
}
.lbr > .con_hd{
    width:80%;
    margin:130px auto 30px;
}
.lb_all{
    margin:auto;
    background:url('../img/img3.jpg') 50% 50% no-repeat;
    background-size: cover;
}
.lb_all .lb_list{
    background-color: rgba(0,0,0,0.7);
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.mgz{
    width:70%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
}
.mgz article{
    width:30%;
    margin:0 20px;
    /* position: relative; */
}
.mgz article img{
    border:1px solid black;
    width:100%;
    vertical-align: top;
    border-radius: 0 10px 10px 0;
}
.lb_all .lb_list .mgz article p{
    margin:30px auto 0;
    color:white;
    font-size:16px;
    text-align: center;
    width:fit-content;
    height:fit-content;
    padding:10px 30px;
    background-color: black;
    border:1px solid #fdd000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}
.lb_all .lb_list .mgz article p:hover{
    background-color: #fdd000;
    color:black;
}
.lb_all .lb_list .mgz article figure{
    position: relative;
}
.fav{
    display:none;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background:url('../img/fav.png');
    width:80px;
    height:80px;
    animation:a2 0.5s forwards;
}
@keyframes a2{
    from{top:60%; opacity: 0;}
    to{top:50%; opacity: 1;}
}
.mgz article:hover .fav{
    display:block;
}

.mgz a{
    text-decoration: none;
    color:white;
}
.mgz a:visited{
    text-decoration: none;
    color:white;
}



/* 반응형 모바일 */
@media (min-width:360px) and (max-width:767px){
   /* header banner //////////////////*/
    .hd_img{
        margin:0 auto;
        width:100%;
        position: relative;
        background-color: black;
    }
    .hd_img .hd_frame{
        margin:0 auto;
        width:100%;
        height: 40vw;
        margin:0 auto;
        overflow: hidden;
    }
    .hd_img .hd_frame figure{
        margin:0 auto;
        width:100%;
        display: flex;
        justify-content: flex-start;
        /* animation: hd_frame 15s infinite; */
    }
    /* @keyframes hd_frame{
        0%{transform: translateX(0%);}
        25%{transform: translateX(-100%);}
        50%{transform: translateX(-200%);}
        75%{transform: translateX(-300%);}
        100%{transform: translateX(-400%);}
    } */
    
    .hd_img .hd_frame figure a img{
        width:100%;
        object-position: bottom;
        background-color:#777;
        opacity: 0.7;
    }
    .hd_title{
        font-size: 12px;
        left:5%;
        top:10%;
    }
    .nxt_btn{
        /* OK */
        display: none;
        width:100%;
        position: absolute;
        top:50%;
        transform: translate(0, -50%);
    }
    .nav_list{
        /* OK */
        position:absolute;
        bottom:8px;
        left:50%;
        transform: translate(-50%, 0);
    }
    .nav_list span{
        /* OK */
        margin:2px;
    }
    .nav_list span:nth-child(1) a{
        /* OK */
        display: inline-block;
        width:8px;
        height: 8px;
        background-color:#fdd000;
        border-radius: 50px;
    }
    .nav_list > span:nth-child(2) a{
        /* OK */
        display: inline-block;
        width:8px;
        height: 8px;
        background-color:white;
        border-radius: 50px;
    }
    .nav_list > span:nth-child(3) a{
        /* OK */
        display: inline-block;
        width:8px;
        height: 8px;
        background-color:white;
        border-radius: 50px;
    }
    .hd_more{
        /* OK */
        display: none;
        position: absolute;
        right:320px;
        bottom:105px;
    }


    /* container ////////////////////////*/
    .title{
        /* OK */
        color:#a89968;
        background-color:rgba(0,0,0,0);
        display:inline-block;
        width:fit-content;
        height:30px;
        padding:0 10px;
        text-align: center;
        font-size:33px;
        font-weight:900;
        font-style: italic;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .con_hd{
        /* OK */
        width:100%;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:70px 0 20px;
    }
    .con_hd > a{
        /* OK */
        display: none;
        font-size:14px;
        color:#a89968;
    }
    .con_hd .title a{
        text-decoration: none;
        color:#a89968;
    }
    header .hdmain a:visited{
        text-decoration: none;
        color:#a89968;
    }

    /* gallery ////////////////////////*/
    .gal{
        /* OK */
        padding:0 5%;
        width:90%;
    }
    .gal > .con_hd{
        /* OK */
        width:100%;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:50px 0 20px;
    }
    .gal .con_thm ul li{
        /* OK */
        width:50%;
        height: 20vw;
        margin-right: 10px;
        border:0px solid #a89968;
        transition: 0s;
    }
    .gal .con_thm ul li:hover figure > .img_hv_ic span:nth-child(1){
        /* OK */
        display: none;
        width:40px;
        height:2px;
        background-color: #fdd000;
    }
    .gal .con_thm ul li:hover figure > .img_hv_ic span:nth-child(2){
        /* OK */
        display: none;
        width:2px;
        height:40px;
        background-color: #fdd000;
    }
    .gal .con_thm ul li figure{
        /* OK */
        position: relative;
        height:100%;
        overflow: hidden;
        position: relative;
        z-index: -5;
        border:1px solid #a89968;
    }
    .figcaption{
        /* OK */
        display: none;
        padding:5px;
        height: 23%;
    }
    .figcaption .galtt{
        font-size: 16px;
    }
    .figcaption .galtxt{
        display: none;
    }
    .gal .con_thm ul li figure .img_hv{
        display: none;
        transition: 0s;
    }
    .gal .con_thm ul li figure .img_hv_ic{
        display: none;
        transition: 0s;
    }
    .gal .con_thm ul li:hover figure img{
        width:200%;
    }
    .gal .con_thm ul li:hover figure > .img_hv{
        display: none;
        position:absolute;
        left:0; top:0;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
    }
    .gal .con_thm ul li:hover figure > .img_hv_ic span{
        display: none;
        position:absolute;
        left:50%; top:50%;
        transform: translate(-50%, -50%);
    }


    /* class ////////////////////////*/
    .cl{
        /* OK */
        padding:0 5%;
    }
    .cl_ul{
        /* OK */
        border:1px solid #a89968;
        display:flex;
        width:100%;
        height: 35vw;
        position: relative;
    }
    .cl_img{
        /* OK */
        height: 100%;
    }
    .cl_img img{
        /* OK */
        height: 100%;
        object-fit: cover;
    }
    .cl_ul li{
        /* OK */
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cl_ul li:nth-of-type(1){
        width:40%;
    }
    .cl_ul li:nth-of-type(2){
        width:60%;
    }
    .cl_ul .cl_info{
        /* OK */
        height: 100%;
    }
    .cl_ul .cl_info div h2{
        /* OK */
        font-size:18px;
        color:#000;
        line-height: 1;
        margin-bottom:5px;
    }
    .cl_info > div{
        /* OK */
        width:80%;
        margin:50px auto;
        z-index: -3;
    }
    .cl_info_tt{
        /* OK */
        font-size:12px;
        color:#777;
        margin-bottom:0px;
    }
    .cl_info_txt{
        /* OK */
        display: none;
        font-size:16px;
        color:#000;
        line-height: 1.5;
    }
    .cl_all:hover{
        background-color: rgba(0,0,0,0);
    }
    .cl_rm span{
        /* OK */
        position:absolute;
        left:50%; top:50%;
        transform: translate(-50%, -50%);
        background-color:rgba(0,0,0,0.7);
        border-radius: 100px;
        border:1px solid #fdd000;
        width:80px;
        height: 80px;
        display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size:18px;
        color:white;
        font-weight: bold;
        margin:0 auto;
        animation:cl 1s infinite;
    }
    .cl .cl_num{
        /* OK */
        margin:10px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* exhibition ////////////////////////// */
    .exh{
        /* OK */
        padding:0 5%;
    }
    .exh_thm .thm_1{
        /* OK */
        position: relative;
        width:510px;
        height:25vw;
        overflow: hidden;
        border:1px solid #a89968;
        border-radius: 10px;
        margin-right:10px;
    }

    .exh_thm .thm_2{
        /* OK */
        position: relative;
        width:1100px;
        height:28vw;
        overflow: hidden;
        border:1px solid #000;
        border-radius: 10px;
        margin-right:10px;
        box-shadow:0px 0px 20px rgba(0,0,0,0.6);
    }
    .exh_thm .thm_2:hover article{
        /* OK */
        display:block;
    }
    .exh_thm .thm_2:hover article h2{
        letter-spacing: 0;
        color:white;
    }
    .exh_thm .thm_2 article{
        /* OK */
        display:block;
        position: absolute;
        left:0;
        bottom:0;
        background-color: rgba(0,0,0,0.7);
        padding:15px 0;
        width:100%;
        animation:a1 0.5s forwards;
    }
    @keyframes a1{
        /* OK */
        from{bottom:0%;}
        to{bottom:0;}
    }
    .exh_thm .thm_2 article h2{
        /* OK */
        width:fit-content;
        margin:0 auto;
        color:white;
        font-size:16px;
        margin-bottom: 0px;
        line-height: 1;
    }
    .exh_thm .thm_2 article span{
        /* OK */
        display: none;
        color:white;
        font-size: 10px;
    }
    .thm_2 .exh_num{
        /* OK */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right:3%;
        top:3%;
        width:45px;
        height: 23px;
        font-size:12px;
        background-color:rgba(0,0,0,0.7);
        border:2px solid white;
        border-radius: 50px;
        color:white;
    }
    .exh_thm .thm_3{
        /* OK */
        position: relative;
        width:510px;
        height:23vw;
        overflow: hidden;
        border:1px solid #a89968;
        border-radius: 10px;
    }
    .exh_thm .thm_1 > span{
        position: absolute;
        right:5%;
        top:50%;
        transform:translate(0, -50%);
        width:40px;
        height: 40px;
    }
    .exh_thm .thm_3 > span{
        position: absolute;
        left:5%;
        top:50%;
        transform:translate(0, -50%);
        width:40px;
        height: 40px;
    }


    /* library /////////////////// */
    .lbr > .con_hd{
        /* OK */
        width:90%;
        margin:70px auto 20px;
    }
    .lb_all .lb_list{
        /* OK */
        background-color: rgba(0,0,0,0.7);
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    .mgz{
        /* OK */
        width:90%;
        margin:auto;
        display:flex;
        justify-content: space-between;
        align-items:flex-end;
    }
    .mgz article{
        /* OK */
        width:30vw;
        margin:0 5px;
        /* position: relative; */
    }
    .lb_all .lb_list .mgz article p{
        /* OK */
        /* display: none; */
        margin:15px auto 0;
        color:white;
        font-size:13px;
        text-align: center;
        width:fit-content;
        height:fit-content;
        padding:0px 0px;
        background-color: rgba(0,0,0,0);
        border:0px solid #fdd000;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        line-height: 15px;
    }
    .lb_all .lb_list .mgz article:nth-of-type(2) p{
        font-size:11px;
    }
    .fav{
        /* OK */
        display:block;
        position: absolute;
        left:95%;
        top:95%;
        transform: translate(-95%, -95%);
        background:url('../img/fav.png');
        background-size: cover;
        width:30px;
        height:30px;
        animation:a2 1s linear infinite;
    }
    @keyframes a2{
        0%{top:93%; opacity: 1;}
        50%{top:95%; opacity: 1;}
        100%{top:93%; opacity: 1;}
    }
    .mgz article:hover .fav{
        display:block;
    } 
    .lb_all .lb_list .mgz article p:hover{
        background-color: rgba(0,0,0,0);
        color:white;
    }
}





/* 반응형 태블릿 ////////////////////// */
@media (min-width:768px) and (max-width:1200px){

    /* header banner //////////////////*/
    .hd_img{
        margin:0 auto;
        width:100%;
        position: relative;
        background-color: black;
    }
    .hd_img .hd_frame{
        margin:0 auto;
        width:100%;
        height: 100%;
        margin:0 auto;
        overflow: hidden;
    }
    .hd_img .hd_frame figure{
        margin:0 auto;
        width:100%;
        display: flex;
        justify-content: flex-start;
        /* animation: hd_frame 15s infinite; */
    }
    /* @keyframes hd_frame{
        0%{transform: translateX(0%);}
        25%{transform: translateX(-100%);}
        50%{transform: translateX(-200%);}
        75%{transform: translateX(-300%);}
        100%{transform: translateX(-400%);}
    } */
    .hd_img .hd_frame figure a img{
        width:100%;
        object-position: bottom;
        background-color:#777;
        opacity: 0.7;
    }
    .hd_title{
        font-size:20px;
    }

    .nxt_btn > .next{
        padding:0 5%;
    }
    .nxt_btn{
        /* OK */
        width:100%;
        position: absolute;
        top:50%;
        transform: translate(0, -50%);
    }
    .nav_list{
        /* OK */
        position:absolute;
        bottom:8px;
        left:50%;
        transform: translate(-50%, 0);
    }
    .nav_list span{
        /* OK */
        margin:2px;
    }
    .nav_list span:nth-child(1) a{
        /* OK */
        display: inline-block;
        width:8px;
        height: 8px;
        background-color:#fdd000;
        border-radius: 50px;
    }
    .nav_list > span:nth-child(2) a{
        /* OK */
        display: inline-block;
        width:8px;
        height: 8px;
        background-color:white;
        border-radius: 50px;
    }
    .nav_list > span:nth-child(3) a{
        /* OK */
        display: inline-block;
        width:8px;
        height: 8px;
        background-color:white;
        border-radius: 50px;
    }
    .hd_more{
        /* OK */
        display: none;
        position: absolute;
        right:320px;
        bottom:105px;
    }


    /* container ////////////////////////*/
    

    /* gallery ////////////////////////*/
    .gal{
        /* OK */
        padding:0 5%;
        width:90%;
    }
    .gal .con_thm ul li{
        /* OK */
        width:24%;
        height: 20vw;
        margin-right: 10px;
        border:0px solid #a89968;
        transition: 0.5s;
    }
    .gal .con_thm ul li:hover figure > .img_hv_ic span:nth-child(1){
        /* OK */
        width:40px;
        height:2px;
        background-color: #fdd000;
    }
    .gal .con_thm ul li:hover figure > .img_hv_ic span:nth-child(2){
        /* OK */
        width:2px;
        height:40px;
        background-color: #fdd000;
    }
    .gal .con_thm ul li figure{
        /* OK */
        position: relative;
        height:70%;
        overflow: hidden;
        position: relative;
        z-index: -5;
        border:1px solid #a89968;
        border-radius: 0px 50px 0 0;
    }
    .figcaption{
        /* OK */
        /* display: none; */
        height: 23%;
    }
    .figcaption .galtt{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        padding: 5px;
    }
    .figcaption .galtxt{
        display: none;
    }


    /* class ////////////////////////*/
    .cl{
        /* OK */
        padding:0 5%;
    }
    .cl_ul{
        /* OK */
        border:1px solid #a89968;
        display:flex;
        width:100%;
        height: 35vw;
        position: relative;
    }
    .cl_img{
        /* OK */
        height: 100%;
    }
    .cl_img img{
        /* OK */
        height: 100%;
        object-fit: cover;
    }
    .cl_ul li{
        /* OK */
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cl_ul li:nth-of-type(1){
        width:40%;
    }
    .cl_ul li:nth-of-type(2){
        width:60%;
    }
    .cl_ul .cl_info{
        /* OK */
        height: 100%;
    }
    .cl_ul .cl_info div h2{
        /* OK */
        font-size:24px;
        color:#000;
        line-height: 2;
    }
    .cl_info > div{
        /* OK */
        width:80%;
        margin:50px auto;
        z-index: -3;
    }
    .cl_info_tt{
        /* OK */
        font-size:16px;
        color:#777;
        margin-bottom:30px;
    }
    .cl_info_txt{
        /* OK */
        font-size:16px;
        color:#000;
        line-height: 1.5;
    }

    .cl_rm span{
        /* OK */
        position:absolute;
        left:50%; top:50%;
        transform: translate(-50%, -50%);
        background-color:rgba(0,0,0,0.8);
        border-radius: 100px;
        border:1px solid #fdd000;
        width:100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size:20px;
        color:#fdd000;
        font-weight: bold;
        margin:0 auto;
        animation:cl 1s infinite;
    }
    .cl .cl_num{
        /* OK */
        margin:10px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* exhibition ////////////////////////// */
    .exh{
        /* OK */
        padding:0 5%;
    }
    .exh_thm .thm_1{
        /* OK */
        position: relative;
        width:510px;
        height:23vw;
        overflow: hidden;
        border:1px solid #a89968;
        border-radius: 10px;
        margin-right:20px;
    }

    .exh_thm .thm_2{
        /* OK */
        position: relative;
        width:540px;
        height:25vw;
        overflow: hidden;
        border:1px solid #000;
        border-radius: 10px;
        margin-right:20px;
        box-shadow:0px 0px 20px rgba(0,0,0,0.6);
    }
    .exh_thm .thm_2:hover article{
        /* OK */
        display:block;
    }
    .exh_thm .thm_2 article{
        /* OK */
        display:block;
        position: absolute;
        left:0;
        bottom:0;
        background-color: rgba(0,0,0,0.7);
        padding:20px 0;
        width:100%;
        animation:a1 0.5s forwards;
    }
    @keyframes a1{
        /* OK */
        from{bottom:0%;}
        to{bottom:0;}
    }
    .exh_thm .thm_2 article h2{
        /* OK */
        width:fit-content;
        margin:0 auto;
        color:white;
        font-size:18px;
    }
    .exh_thm .thm_2 article span{
        /* OK */
        display: none;
        color:white;
        font-size: 10px;
    }
    .thm_2 .exh_num{
        /* OK */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right:3%;
        top:3%;
        width:50px;
        height: 25px;
        font-size:16px;
        background-color:rgba(0,0,0,0.7);
        border:2px solid white;
        border-radius: 50px;
        color:white;
    }
    .exh_thm .thm_3{
        /* OK */
        position: relative;
        width:510px;
        height:23vw;
        overflow: hidden;
        border:1px solid #a89968;
        border-radius: 10px;
    }


    /* library /////////////////// */
    .lbr > .con_hd{
        /* OK */
        width:90%;
        margin:80px auto 30px;
    }
    .lb_all .lb_list{
        /* OK */
        background-color: rgba(0,0,0,0.7);
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
    }
    .mgz{
        /* OK */
        width:90%;
        margin:auto;
        display:flex;
        justify-content: space-between;
        align-items:flex-end;
    }
    .mgz article{
        /* OK */
        width:30vw;
        margin:0 10px;
        /* position: relative; */
    }
    .lb_all .lb_list .mgz article p{
        /* OK */
        margin:15px auto 0;
        color:white;
        font-size:12px;
        text-align: center;
        width:fit-content;
        height:fit-content;
        padding:8px 20px;
        background-color: black;
        border:1px solid #fdd000;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
    }
    .fav{
        /* OK */
        display:block;
        position: absolute;
        left:95%;
        top:95%;
        transform: translate(-95%, -95%);
        background:url('../img/fav.png');
        background-size: cover;
        width:40px;
        height:40px;
        animation:a2 1s linear infinite;
    }
    @keyframes a2{
        0%{top:93%; opacity: 1;}
        50%{top:95%; opacity: 1;}
        100%{top:93%; opacity: 1;}
    }
    .mgz article:hover .fav{
        display:block;
    }
}



/* 반응형 중간화면 */
@media (min-width:1201px) and (max-width:1600px){

    /* header banner //////////////////*/
    .hd_img{
        margin:0 auto;
        width:100%;
        position: relative;
        background-color: black;
    }
    .hd_img .hd_frame{
        margin:0 auto;
        width:100%;
        height: 100%;
        margin:0 auto;
        overflow: hidden;
    }
    .hd_img .hd_frame figure{
        margin:0 auto;
        width:100%;
        display: flex;
        justify-content: flex-start;
        /* animation: hd_frame 15s infinite; */
    }
    /* @keyframes hd_frame{
        0%{transform: translateX(0%);}
        25%{transform: translateX(-100%);}
        50%{transform: translateX(-200%);}
        75%{transform: translateX(-300%);}
        100%{transform: translateX(-400%);}
    } */
    .hd_img .hd_frame figure a img{
        width:100%;
        object-position: bottom;
        background-color:#777;
        opacity: 0.7;
    }
    .hd_title{
        font-size: 30px;
    }

    /* gallery ////////////////////////*/
    .gal .con_thm ul li{
        border:0px solid #a89968;
    }
    .gal .con_thm ul li figure{
        position: relative;
        height:75%;
        overflow: hidden;
        z-index: -5;
        border:1px solid #a89968;
        border-radius: 0px 50px 0 0;
    }

    .figcaption{
        padding:0px;
    }
    .galtt{
        padding:10px 10px 0 10px;
    }
    .figcaption .galtxt{
        padding:0px 10px 10px 10px;
    }


    .cl_ul li:nth-of-type(1){
        width:40%;
    }
    .cl_ul li:nth-of-type(2){
        width:60%;
    }
    .cl_ul .cl_img img{
        object-fit: cover;
        height: 100%;
    }
    

    .lb_all .lb_list .mgz article p{
        font-size: 12px;
    }
}


/* 반응형 큰화면 */
@media (min-width:1601px) and (max-width:1920px){
        /* header banner //////////////////*/
        .hd_img{
            margin:0 auto;
            width:100%;
            position: relative;
            background-color: black;
        }
        .hd_img .hd_frame{
            margin:0 auto;
            width:100%;
            height: 100%;
            margin:0 auto;
            overflow: hidden;
        }
        .hd_img .hd_frame figure{
            margin:0 auto;
            width:100%;
            display: flex;
            justify-content: flex-start;
            /* animation: hd_frame 15s infinite; */
        }
        /* @keyframes hd_frame{
            0%{transform: translateX(0%);}
            25%{transform: translateX(-100%);}
            50%{transform: translateX(-200%);}
            75%{transform: translateX(-300%);}
            100%{transform: translateX(-400%);}
        } */
        .hd_img .hd_frame figure a img{
            width:100%;
            object-position: bottom;
            background-color:#777;
            opacity: 0.7;
        }
        .gal .con_thm ul li figure{
            border-radius: 0px 100px 0 0;
        }

}