@import '_common';

$p-tb100 : 100px 0;
body{
    padding-top:18.66%;
}
@mixin flex($jc,$ai,$fd,$fw) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;

    // @include flex(space-between, flex-start, row, nowrap);
}

header{
    position: fixed;
    left:0; top:0;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    .head{
        width: 90%;
        margin: 0 auto;
        @include flex(space-between, center, row, nowrap);

        .trigger-menu{
            position: relative;
            width: 30px; height: 20px;
            display: block;
            transition: opacity .25s ease;
            
            span{
                position: absolute;
                left:0; top:50%;
                width: 100%; 
                border-top: 1px solid #212224;
                padding: 1px;
            }
            span:nth-of-type(1){transform: translateY(-300%);}
            span:nth-of-type(2){width: 20px;}
            span:nth-of-type(3){transform: translateY(300%);}
        }

        .aside-on{
            position: fixed; left:0; top:0;
            width: 75%; height: 100%; top: 0;
            background: #fff;
            transform: translateX(-100%);
            transition: .5s;
            z-index: 999;
            .aside-top{
                transform: translateX(-70%);
                height: 4em;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                text-align: center;
                .aside-logo{
                    img{
                        width: 100%;
                        max-width: 11.5357142857em;
                        display: block;
                    }
                }
            }


            .aside-bx{
                ul{
                    li{padding:15px;
                        border-bottom: 1px solid #dadada;
                        a{ color: #333;}
                    }
                }
            }
            .global-area{
                .global-list{
                    display: flex;
                    margin: 30px 30px 30px 40px;
                    li{
                        padding: 17px;
                        a{ color: #333;}
                    }
                }
            }
        }
        .aside-on.active{
            transform: translateX(0%);
            .aside-logo{
                transform: translate(100%);
            }
            .close_btn{
                position: absolute;
                display: block;
                right: 5.5em;
                img{
                    max-width: 1.5714285714em;
                }
            }
        }
        
    }
        
        
        .logo-box img{max-width: 47.5px;}
        .store-btn img{max-width: 1.6428571429em;}
    }
    .smile-bnr{
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0px;
        transform: translateY(100%);
        img{
            width:100%;
        }
    }
main{
    .visual_area{
        .sub_visual_area{
            position: relative;
            vertical-align: middle;
            height: 270px;
            width: 100%;
            background-image: url(../img/tomtom.img/sv_6.jpg);
            background-position: center 0;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            background-color: #333;
            
            .txt_bx{
                position: absolute;
                top: 50%;
                left: 25%;
                h2{
                    font-size: 2em;
                    display: block;
                    color: #fff;
                }
            }
        }
        
    }
    .bread-crumbs-wrap{
        margin-top: 1.375em;
        .wrapper{
            max-width: 1430px;
            width: 100%;
            position: relative;
            margin: 0 auto;
            padding: 0 15px;
            .bread-crumbs-list{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                margin: 5%;
                .item{
                    padding: 0 0.75em;
                    position: relative;
                }
                .item:nth-child(2){
                    margin-right: 12px;
                }
                
                .item::after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -0.15625em;
                    width: 0.3125em;
                    height: 0.5625em;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-image: url(../img/event.img/bread_crumbs_arw.png);
                }
                
                a{
                    font-size: 12px;
                    line-height: 1;
                    color: #a7a6a6;
                    cursor: default;
                }
                img{margin-bottom: 5px;}
            }
        }
    }
    .sub-title-area{
        padding:1em 15px;
    }
    .company-section{
        margin-top: 1em;
        padding:0 15px;
        .banner-area-bg{
            background-image: url(../img/tomtom.img/company1_1_bg1_m.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 28.75em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            padding: 0 3.75em;
            background-position: center bottom;
            position: relative;
            display: block;
            .txt-bx{
                width: 100%;
                position: absolute;
                left: 0%;
                // transform: translateX(-50%);
                top: 8%;
                text-align: center;
                padding: 0 15px;
                .bold{
                    font-size: 1.2em;
                    line-height: 1.5;
                }
                .n{
                    margin-top: 1em;
                    font-size: .78em;
                    line-height: 1.5;
                }
            }
        }
        .company-info-area{
            margin-top: 40px;
            .img-area{
                img{
                    width: 100%;
                    height: 180px;
                }
                
            }
            .info-area{
                padding-bottom: 2em;
                margin-top: 30px;
                .title-bx{
                    font-weight: 500;
                    font-size: 1.1em;
                    line-height: 1.2;
                    padding-bottom: 1em;
                    color: #572a31;
                }
            }
        }
        
        .table-bx{
            border-top: 1px solid #572a31;
            padding-top: 1.3em;
            padding-bottom: 1.3em;
            border-bottom: 1px solid #ddd;
            .col_1{width: 6.25em;}
            tr{
                text-align: left;
                th{
                    padding-bottom: 1em;
                    span{font-size: .9em;}
                }
                td{
                    padding-bottom: 1em;
                    span{font-size: .8em;}
                    color: #555;
                }
            }
        }

        .company-crossing-area{
            
            border-bottom: 1px solid #ddd;

            .item{
                margin-bottom: 3em;
                .inner{
                    .img-bx{
                        img{width: 100%; height: 230px;}
                    }
                    .txt-bx{
                        margin-top: 30px;
                        .title-area{
                            margin: 10px 0 10px 0;
                        }
                        p{
                            color: #666;
                            font-size: 14px;
                            line-height: 1.5;
                        }
                        .logo-bx{
                            margin-top: 1em;
                        }
                    }
                }
            }
            
        }

        .brand-section{
            padding: 2.8571428571em 0;
            overflow: hidden;
            .title-area{

            }
            .logo-history{
                margin-top: 1em;
                .list{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    justify-content: space-between;

                    .item{
                        padding: 0 1em;
                        .img-bx{
                            text-align: center;
                            width: 100%;
                            img{
                                width: 4.8em;
                            }
                        }
                        .txt-bx{
                            text-align: center;
                            .year{}
                        }
                    }
                    .item-arrow{
                        .img-bx{
                            text-align: center;
                            width: 100%;
                            left: 0;
                            img{
                                width: 20em;
                                height: 33px;
                            }
                        }
                    }
                }
            }




        }



        
    }
}


.ani{
    opacity:0;
    transform: translateY(100%);
    // margin-top:100px;
}
.ani.active{animation: txt 0.8s forwards cubic-bezier(.37,.59,.47,1.4);}

@keyframes txt {
    100%{
        opacity: 1;
        transform: translateY(0%);
        // margin-top:0;
    }
}






// footer
footer{
    padding: 4em 0 4em;
    background: #efefef;
    color: #8a8a8a;
    font-size: 14px;
    .wrapper{
            padding: 25px 0 35px 15px;
        .in-wrap{
            
            position: relative;
           

            .sns-area{
                position: relative;
                top:auto;
                right: auto;
                max-width: 100%;
                margin-bottom: 2.5em;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .txt-area{
                    margin-right: 1.5714285714em;
                    letter-spacing: -0.6px;
                    p{
                        font-size: 1.1428571429em;
                        line-height: 1;
                        color: #666;
                    }
                }
                .sns-bx{
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-start;
                    
                    }
                }
            }
        }
        .language-area{
            display: block;
            margin-bottom: 2.8333333333em;
            .txt-area{
                p{
                    margin: 0 0 5px;
                    font-size: 1.3333333333em;
                    line-height: 1.3;
                    color: #666;
                }
            }
            .language-bx{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    li{
                        margin-right: 0.875em;
                        font-size: 1.3333333333em;
                        line-height: 1.2;
                        color: #333;
                        font-family: "Roboto",sans-serif;
                        font-weight: 500;
                        letter-spacing: -1px;
                        a{
                            color: #572a31;
                        }
                    }
                }
            }
        }
        .cs-area{
            max-width: 100%;
            flex: 1 0 100%;
            margin-bottom: 2.8333333333em;
            .txt-area{
                letter-spacing: -1px;
                p{
                    font-size: 1.1428571429em;
                    line-height: 1;
                    color: #572a31;
                }
                a{
                    display: block;
                    font-size: 2.5714285714em;
                    line-height: 1.3;
                    color: #572a31;
                    font-weight: 300;
                }
            }
        }
        .info-bx{
            max-width: 100%;
            flex: 1 0 100%;
            .sub-gnb-bx{
                width: 100%;
                max-width: 30em;
                margin-bottom: 2.2857142857em;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    justify-content: flex-start;
                    li{
                        margin-bottom: 0.7142857143em;
                        padding-right: 1.8571428571em;
                        position: relative;
                        font-size: 1.1428571429em;
                        line-height: 1.2;
                        color: #572a31;
                        letter-spacing: -1px;
                    }
                    li:before {
                        content: "";
                        display: block;
                        position: relative;
                        top: 60%;
                        right: 1.2em;
                        transform: translateY(-50%);
                        width: 2px;
                        height: 2px;
                        border-radius: 50%;
                        background-color: #572a31;
                    }
                }
            }
        }
        .add-bx{
            margin-bottom: 1em;
            span{
                color: #8a8a8a;
                padding-right: 8px;
                font-size: 12px;
                padding-right: 8px;
                margin: 0 0 5px 0px;
                display: block;
            }
                a{
                    color: #8a8a8a;
                    font-size: 12px;
                    margin: 0 0 5px 0px;
                }
        }
        
    }
}
#top_btn{
    position: fixed;
    color: #fff;
    bottom: 50px;
    right: 10px;
    z-index: 99999;

    // display: none;
    a{
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
        background: rgba(0,0,0,0.7);
        position: relative;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        line-height: 45px;
    }
}
.chatbot{
    display: block;
    width: 90px;
    position: fixed;
    bottom: 110px;
    right: 10px;
    z-index: 99999;
    img{
        max-width: 100%;
        border: 0;
        outline: none;
    }
}