@charset "uft-8";
@import url('common.css');

/* container ////////////////////////*/
.container{
    width:100%;
    margin:0 auto;
    padding:0;
}
.title{
    color:white;
    background-color: black;
    display:inline-block;
    width:fit-content;
    height:40px;
    padding:0 30px;
    text-align: center;
    font-size:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.con_hd{
    width:100%;
    margin:100px 0 30px;
    font-size:18px;
}



/* 헤더이미지 ///////////////////// */
.bd_hd{
    position: relative;
    width:100%;
    height:18vw;
    overflow: hidden;
    background-color: rgba(0,0,0);
}
.bd_hd figure{
    background:url('../img/img4.jpg') 50% 60% no-repeat;
    width:100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
}
.bd_hd span{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:36px;
    color:white;
    letter-spacing: 20px;
    width: fit-content;
}


/* 콘텐츠 //////////////////////////////// */
.con-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    height:34vw;
}

.con-1 figure{
    background-color: white;
    width:50%;
    position: relative;
}
.con-1 figure img{
    height: 34vw;
    object-fit: cover;
    transition:0.5s;
}
.con-1 figure:hover img{
    opacity: 0.6;
}
.con-1 figure:hover .fav_shr{
    opacity: 1;
}

.con-1 .lb_info{
    width:50%;
}
.con-1 .lb_info article{
    margin:0 auto;
    width:80%;
    line-height: 2;
}
.info_hd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con-1 .lb_info h2{
    font-size:28px;
    margin-bottom:30px;
    font-style: italic;
}
.con-1 .lb_info .v_more{
    font-size: 20px;
}
.con-1 .lb_info h2 a{
    text-decoration: none;
    color:black;
}
.con-1 .lb_info h2 a:visited{
    color:black;
}
.con-1 .lb_info p{
    font-size:14px;
    color:#777;
}
.info_txt{
    margin-bottom:30px;
}
.info_pp b{
    color:#000;
}

.con-1:nth-child(2){
    text-align: right;
}
.con-1:nth-child(4){
    text-align: right;
}

.fav_shr{
    opacity: 0;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: center;
    align-items: center;
    transition:opacity 0.5s;
}
.fav_shr a:nth-of-type(1){
    background: url('../img/fav.png') no-repeat;
    width:80px;
    height:80px;
    margin:10px;
}
.fav_shr a:nth-of-type(2){
    background:url('../img/share.png') no-repeat;
    width:80px;
    height:80px;
    margin:10px;
}



footer{
    margin:0;
}





/* 반응형 모바일  ///////////////////////*/
@media (min-width:360px) and (max-width:767px){
    /* container ////////////////////////*/
    .container{
        width:100%;
        margin:0 auto;
        padding:0;
    }
    .title{
        color:white;
        background-color: black;
        display:inline-block;
        width:fit-content;
        height:40px;
        padding:0 30px;
        text-align: center;
        font-size:25px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .con_hd{
        width:100%;
        margin:100px 0 30px;
        font-size:18px;
    }



    /* 헤더이미지 ///////////////////// */
    .bd_hd{
        position: relative;
        width:100%;
        height:18vw;
        overflow: hidden;
        background-color: rgba(0,0,0);
    }
    .bd_hd figure{
        background:url('../img/img4.jpg') 50% 60% no-repeat;
        width:100%;
        height: 100%;
        background-size: cover;
        opacity: 0.5;
    }
    .bd_hd span{
        /* OK */
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size:20px;
        color:white;
        letter-spacing: 20px;
    }


    /* 콘텐츠 //////////////////////////////// */
    .con-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:100%;
        height:34vw;
        border-bottom:0px solid #a89968;
    }
    .con-1:last-child{
        border:0px;
    }

    .con-1 figure{
        background-color: white;
        width:50%;
        position: relative;
    }
    .con-1 figure img{
        height: 34vw;
        object-fit: cover;
        transition:0.5s;
    }
    .con-1 figure:hover img{
        opacity: 0.6;
    }
    .con-1 figure:hover .fav_shr{
        opacity: 1;
    }

    .con-1 .lb_info{
        /* OK */
        width:50%;
    }
    .con-1 .lb_info article{
        /* OK */
        margin:0 auto;
        width:70%;
        line-height: 1.5;
    }
    .con-1 .lb_info h2{
        /* OK */
        font-size:18px;
        margin-bottom:10px;
        font-style: italic;
    }
    .con-1 .lb_info p{
        /* OK */
        font-size:11px;
        color:#777;
    }
    .info_txt{
        /* OK */
        display: none;
        margin-bottom:10px;
    }
    .info_pp{
        /* OK */
        font-size: 10px;
    }
    .con-1 figure:hover img{
        opacity: 1;
    }
    .fav_shr a:nth-of-type(1){
        /* OK */
        background: url('../img/fav.png') no-repeat;
        background-size: cover;
        width:30px;
        height:30px;
        margin:3px;
    }
    .fav_shr a:nth-of-type(2){
        /* OK */
        background:url('../img/share.png') no-repeat;
        background-size: cover;
        width:30px;
        height:30px;
        margin:3px;
    }
    .fav_shr{
        /* OK */
        opacity: 1;
        position: absolute;
        left:95%;
        top:95%;
        transform: translate(-95%, -95%);
        display:flex;
        justify-content: center;
        align-items: center;
        transition:0s;
    }
    .con-1 .lb_info .v_more{
        font-size: 0px;
    }
}






/* 반응형 //////////////////////////// */
@media (min-width:768px) and (max-width:1200px){

    /* container ////////////////////////*/
    .container{
        width:100%;
        margin:0 auto;
        padding:0;
    }
    .title{
        color:white;
        background-color: black;
        display:inline-block;
        width:fit-content;
        height:40px;
        padding:0 30px;
        text-align: center;
        font-size:25px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .con_hd{
        width:100%;
        margin:100px 0 30px;
        font-size:18px;
    }



    /* 헤더이미지 ///////////////////// */
    .bd_hd{
        position: relative;
        width:100%;
        height:18vw;
        overflow: hidden;
        background-color: rgba(0,0,0);
    }
    .bd_hd figure{
        background:url('../img/img4.jpg') 50% 60% no-repeat;
        width:100%;
        height: 100%;
        background-size: cover;
        opacity: 0.5;
    }
    .bd_hd span{
        /* OK */
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size:20px;
        color:white;
        letter-spacing: 20px;
    }


    /* 콘텐츠 //////////////////////////////// */
    .con-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:100%;
        height:34vw;
        border-bottom:1px solid #a89968;
    }
    .con-1:last-child{
        border:0px;
    }

    .con-1 figure{
        background-color: white;
        width:50%;
        position: relative;
    }
    .con-1 figure img{
        height: 34vw;
        object-fit: cover;
        transition:0.5s;
    }
    .con-1 figure:hover img{
        opacity: 0.6;
    }
    .con-1 figure:hover .fav_shr{
        opacity: 1;
    }

    .con-1 .lb_info{
        /* OK */
        width:70%;
    }
    .con-1 .lb_info article{
        /* OK */
        margin:0 auto;
        width:85%;
        line-height: 1.5;
    }
    .con-1 .lb_info h2{
        /* OK */
        font-size:18px;
        margin-bottom:10px;
    }
    .con-1 .lb_info p{
        /* OK */
        font-size:12px;
        color:#777;
    }
    .info_txt{
        /* OK */
        margin-bottom:10px;
    }
    .info_pp{
        /* OK */
        font-size: 10px;
    }
    .fav_shr a:nth-of-type(1){
        /* OK */
        background: url('../img/fav.png') no-repeat;
        background-size: cover;
        width:40px;
        height:40px;
        margin:5px;
    }
    .fav_shr a:nth-of-type(2){
        /* OK */
        background:url('../img/share.png') no-repeat;
        background-size: cover;
        width:40px;
        height:40px;
        margin:5px;
    }
    .fav_shr{
        /* OK */
        opacity: 1;
        position: absolute;
        left:95%;
        top:95%;
        transform: translate(-95%, -95%);
        display:flex;
        justify-content: center;
        align-items: center;
        transition:0.5s;
    }
    .con-1 .lb_info .v_more{
        font-size: 14px;
    }
}